* {
    font-family: 'Archivo', sans-serif;
    padding: 0px;
}
button {
    width: 10em;
    height: 5em;
    margin-top: 1em;
    border: solid 1px black;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
}
button a {
    font-size: 2em;
    font-weight: 600;
}
button:hover {
    background-color: rgb(132, 132, 132);
    color: white;
}
body {
    height: 90vh;
    background-color: rgb(80, 80, 80);
}
.picture {
    float: right;
    width: 10rem;
}
#firstpageTitle {
    font-weight: 900;
}
.resultTitle{
    font-size: 5em;
    font-weight: 900;
}
.resultSubTitle{
    font-size: 1em;
}
#warning {
    display: none;
    position: absolute;
    font-size: 2em;
}
#picturePaper {
    float: right;
    width: 10rem;
}
#resultpage {
    display: none;
}
#goBackbtn {
    background-color: rgb(229, 0, 0);
    position: inline-block;
    margin-top: 15vh;
    padding: 0.5%;
    width: 7rem;
}
#goBackbtn:hover {
    background-color: rgb(111, 0, 0);
}
#clickMe {
    background-color: greenyellow;
    position: inline-block;
    margin-top: 13.5vh;
    padding: 0.5%;
    width: 7rem;
}
#clickMe:hover {
    background-color: darkgreen;
}
#page {
    height: 90vh;
    width: 80rem;
    margin: 0px auto;
    background-color: lightgrey;
    padding: 2%;
}
h1 {
    font-size: 2em;
}
#resultImg1 {
    top: 0;
    right: 30em;
    position: absolute;
    float: right;
    width: 15vw;
    margin: 2.5%;
}
#resultImg2 {
    top: 0;
    right: 10em;
    position: absolute;
    float: right;
    width: 15vw;
    margin: 2.5%;
}
@media only screen and (max-width: 1024px) {

    .picture {
        display: none;
    }
    #picturePaper {
        display: none;
    }
    #page {
        width: 90vw;
        height: 95vh;
    }
    body {
        font-size: 3vh;
    }
    .resultTitle {
        font-size: 10vh;
        font-weight: 700;
    }
    #clickMe {
        height: 10vh;
        width: 7em;
        margin-top: 11vh;
        font-size: 1em;
    }
    #goBackbtn {
        height: 10vh;
        width: 7em;
        margin-top: 20vh;
        font-size: 1em;
    }
    #warning {
        font-size: 1em;
    }
    button a {
        font-size: 2em;
        font-weight: 700;
    }
    .resultImgs {
        width: 38vw;
        margin: 2.5%;
    }
}