* {
    font-family: 'Roboto', sans-serif;
    padding: 0px;
}
body {
    height: 90vh;
    background-color: rgb(80, 80, 80);
}
.picture {
    float: right;
    width: 10rem;
}
.resultTitle{
    font-size: 5em;
}
.resultSubTitle{
    font-size: 1em;
}
#picturePaper {
    float: right;
    width: 10rem;
}
#playerrockwin {
    display: none;
}
#playerrocktie {
    display: none;
}
#playerrocklose {
    display: none;
}
#playerpaperwin {
    display: none;
}
#playerpapertie {
    display: none;
}
#playerpaperlose {
    display: none;
}
#playerscissorswin {
    display: none;
}
#playerscissorstie {
    display: none;
}
#playerscissorslose {
    display: none;
}
#goBack {
    display: none;
}
#goBackbtn {
    background-color: rgb(209, 0, 0);
    position: inline-block;
    margin-top: 15vh;
    padding: 0.5%;
    width: 7rem;
}
#clickMe {
    background-color: greenyellow;
    position: inline-block;
    margin-top: 13.5vh;
    padding: 0.5%;
    width: 7rem;
}
#page {
    height: 90vh;
    width: 80rem;
    margin: 0px auto;
    background-color: lightgrey;
    padding: 2%;
}
h1 {
    font-size: 2em;
}
@media only screen and (max-width: 1024px) {

    .picture {
        display: none;
    }
    #picturePaper {
        display: none;
    }
    #page {
        width: 90vw;
        height: 95vh;
    }
    body {
        font-size: 3vh;
    }
    .resultTitle {
        font-size: 10vh;
    }
    #clickMe {
        height: 4em;
        margin-top: 11vh;
    }
    #goBackbtn {
        height: 4em;
        margin-top: 22vh;
    }
}