* {
    font-family: 'Roboto', sans-serif;
    padding: 0px;
}
html, body {
    height: 40rem;
    background-color: rgb(80, 80, 80);
}
.picture {
    float: right;
    width: 10rem;
}
.resultTitle{
    font-size: 5em;
}
.resultSubTitle{
    font-size: 1em;
}
#picturePaper {
    float: right;
    width: 10rem;
}
#playerrockwin {
    display: none;
}
#playerrocktie {
    display: none;
}
#playerrocklose {
    display: none;
}
#playerpaperwin {
    display: none;
}
#playerpapertie {
    display: none;
}
#playerpaperlose {
    display: none;
}
#playerscissorswin {
    display: none;
}
#playerscissorstie {
    display: none;
}
#playerscissorslose {
    display: none;
}
#goBack {
    display: none;
}
#goBackbtn {
    background-color: rgb(209, 0, 0);
    position: absolute;
    top: 20rem;
    padding: 0.5%;
    width: 7rem;
}
#clickMe {
    background-color: greenyellow;
    position: absolute;
    top: 20rem;
    padding: 0.5%;
    width: 7rem;
}
#page {
    width: 61%;
    height: 90%;
    margin: 0px auto;
    background-color: lightgrey;
    padding: 2%;
}
h1 {
    font-size: 2em;
}